<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>You have made changes. Any unsaved Changes will be lost</p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{(member.photoUrl!=null)?member.photoUrl:'.assets/user.png'}}" alt="{{member.alias}}"
        class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.state}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.dateOfBirth | date}} ({{member.age}})</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{member.createdDate | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading='About {{member.alias}}'>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">

          <div class="row mt-1">
            <div class="col-4">
              <label for="firstname">First Name</label>
              <input type="text" name="firstname" class="form-control" [(ngModel)]="member.firstname">
            </div>
            <div class="col-4">
              <label for="lastname">Last Name</label>
              <input type="text" name="lastname" class="form-control" [(ngModel)]="member.lastname">
            </div>
            <div class="col-4">
              <label for="alias">Known As</label>
              <input type="text" name="alias" class="form-control" [(ngModel)]="member.alias">
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-4">
              <label for="religion">Religion</label>
              <select [(ngModel)]="member.religion" class="form-control input-lg" name="religion" id="religion">
                <option value="0">Select Religion</option>
                <option value="Hindu">Hindu</option>
                <option value="Muslim">Muslim</option>
                <option value="Christian">Christian</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div class="col-4">
              <label for="cast">Cast</label>
              <input type="text" name="cast" class="form-control" [(ngModel)]="member.cast">
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-4">
              <label for="contactNo">Contact No</label>
              <input type="text" name="contactno" class="form-control" [(ngModel)]="member.contactNo">
            </div>
            <div class="col-6">
              <label for="emailId">Email Id</label>
              <input type="text" name="emailid" class="form-control" [(ngModel)]="member.emailId">
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-10">
              <label for="biodata">Description</label>
              <textarea name="biodata" class="form-control" rows="6" [(ngModel)]="member.biodata"></textarea>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-10">
              <label for="lookingFor">Looking For</label>
              <textarea name="lookingFor" class="form-control" rows="6" [(ngModel)]="member.lookingFor"></textarea>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-10">
              <label for="interests">Interests</label>
              <textarea name="interests" class="form-control" rows="6" [(ngModel)]="member.interests"></textarea>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-4">
              <label for="country">Country</label>
              <select [(ngModel)]="member.country" (change)="onSelectCountry($event.target.value)"
                class="form-control input-lg" name="country" id="country">
                <option *ngIf="!selectedCountry" value="0">Select Country</option>
                <option *ngFor="let country of countrries" value={{country.id}}>{{country.name}}</option>
              </select>
            </div>

            <div class="col-4">
              <label for="state">State</label>
              <select [(ngModel)]="member.state" (change)="onSelectState($event.target.value)"
                class="form-control input-lg" name="state" id="state">
                <option *ngIf="!selectedState" value="0">Select State</option>
                <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
              </select>
            </div>

            <div class="col-4">
              <label for="city">City</label>
              <select class="form-control input-lg" name="city" id="city" [(ngModel)]="member.city">
                <option value="0">Select City</option>
                <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
              </select>
            </div>
           
          </div>
         

        </form>

      </tab>
      <tab heading='Edit Photos'>
        <app-photo-editor [member]="member"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>